@model MakersMarket.Models.View.Product.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row" id="product-info">

    <div id="img-container" class="col-md-4">

        <div class="row">
            <div id="magnify" class="col-md-12">
                <img id="small" class="center-block" style="width: 70%;" src="http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg" />
            </div>

        </div>

        <div id="product-views">
            <div class="img" style="display:inline-block">
                <img class="product-images" src="http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg" alt="" />
            </div>
            <div class="img" style="display:inline-block">
                <img class="product-images" src="http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg" alt="" />
            </div>
            <div class="img" style="display:inline-block">
                <img class="product-images" src="http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg" alt="" />
            </div>
            <div class="img" style="display:inline-block">
                <img class="product-images" src="http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg" alt="" />
            </div>
        </div>
    </div>

    <div id="product-info-container" class="col-md-6">

        <div>
            <div id="product-top-info">
                <p id="product-name">@Html.DisplayFor(model => model.Product.Brand.Name) @Html.DisplayFor(model => model.Product.Name)</p>
                <p id="product-price">@Html.DisplayFor(model => model.Product.Price) lv</p>

            </div>
            <div id="product-size-info">
                <p id="product-size">Size</p>

                @*@foreach (var item in Model.Product.Quantities)
                {
                    <div id="sizes">
                        @Html.DisplayFor(model => item.Size.Label)
                    </div>
                }*@
            </div>
            <div id="add-to-cart">
                @using (Html.BeginForm("Add", "Cart"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Product.ID)

                    <input type="submit" value="Add to cart" class="btn btn-danger" />
                }
            </div>
            <div id="product-summary">
                <h4>@Html.DisplayFor(model => model.Product.Name) by @Html.DisplayFor(model => model.Product.Brand.Name)</h4>
                <span>
                    Nullam quis risus eget urna mollis ornare vel eu leo.
                    Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                </span>
            </div>
            <ul class="nav nav-tabs">
                <li class=""><a href="#home" data-toggle="tab" aria-expanded="false">Home</a></li>
                <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Profile</a></li>
                <li class="disabled"><a>Disabled</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="home">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
                <div class="tab-pane fade active in" id="profile">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                </div>
                <div class="tab-pane fade" id="dropdown1">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                </div>
                <div class="tab-pane fade" id="dropdown2">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                </div>
            </div>
        </div>
        <div style="position: absolute;z-index: 1; top: 0px;left: 60px; background-color: #ffffff">
            <div id="large" class="img-responsive" style="background: url(http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg) no-repeat;">
            </div>
        </div>
    </div>
    <div class="col-md-2" id="related-products-container">
        <div class="center-block">
            <p class="text-center">Подобни продукти</p>
        </div>
        @foreach (var item in Model.RelatedProducts)
        {
            <a href="@Url.Action("Details", "Product", new { id = item.ID })">
                <div class="related-product">
                    <img id="img-center" class="center-block" src="http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg" alt="" />
                    <div class="center-block">
                        <p class="text-center">@Html.DisplayFor(model => item.Name), @Html.DisplayFor(model => item.Brand.Name)</p>
                        <p class="text-center">@Html.DisplayFor(model => item.Price) lv</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
<div class="row">
    <div id="recently-viewed-products" class="col-md-12">

    </div>
</div>