@model MakersMarket.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="row" id="product-info">
    <div id="img-container" class="col-md-4">
        <div class="row">
            <div id="magnify" class="col-md-12">
                @if (@Model.Images.FirstOrDefault() != null)
                {
                    <img id="small" class="center-block" style="width: 70%;" src="@Model.Images.FirstOrDefault().ImagePath" />
                }
                else
                {
                    <img id="small" class="center-block" style="width: 70%;" src="/Content/images/camera-no-image.jpg" />

                }
           
            </div>
        </div>
        <div id="product-views">
            @foreach (var image in Model.Images)
            {
                <div class="img" style="display:inline-block">
                    <img class="product-images" src="@image.ImagePath" alt="" />
                </div>
            }
        </div>
    </div>
    <div id="product-info-container" class="col-md-6">
        <div>
            <div id="product-top-info">
                <p id="product-name">@Html.DisplayFor(model => model.Brand.Name) @Html.DisplayFor(model => model.Name)</p>
                <p id="product-price">@Html.DisplayFor(model => model.Price) lv</p>
            </div>

            @if (Model.Description != null)
            {
                <p>Description</p>
                <div style="padding:5px; border:1px solid silver;border-radius:5px">@Html.DisplayFor(model => model.Description) </div>
            }
            
            <div id="add-to-cart">
                @using (Html.BeginForm("Add", "Cart"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <input type="submit" value="Add to cart" class="btn btn-danger" />
                }
            </div>
            
        </div>
     
        @*<div style="position: absolute;z-index: 1; top: 0px;left: 60px; background-color: #ffffff">
                <div id="large" class="img-responsive" style="background: url(http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg) no-repeat;">
                </div>
            </div>*@
    </div>
    <div class="col-md-2" id="related-products-container">
        <div class="center-block">
            <p class="text-center">Подобни продукти</p>
        </div>
    @*@foreach (var item in  this.ViewBag.relatedProducts)
    {
        <a href="@Url.Action("Details", "Product", new { id = item.Id })">
            <div class="related-product">
                <img id="img-center" class="center-block" src="http://files.parsetfss.com/b43d59ee-38b7-4a4d-aea2-8aab8d06ea9c/tfss-bcd8839c-778e-4364-8e6c-2b4b25def120-pasar_fashion_3140_grande.jpg" alt="" />
                <div class="center-block">
                    <p class="text-center">@Html.DisplayFor(model => item.Name), @Html.DisplayFor(model => item.Brand.Name)</p>
                    <p class="text-center">@Html.DisplayFor(model => item.Price) lv</p>
                </div>
            </div>
        </a>
    }*@
    </div>
</div>

@section Scripts {
  <script type="text/javascript">
    $(document).ready(function () {
        $(".product-images").on('click', function () {
         
            $("#small").attr("src", $(this)[0].currentSrc);
            console.log($(this)[0].currentSrc)
        })
    })
  </script>
}
