@model IEnumerable<MakersMarket.Models.Shop>

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";

    var pagedList = (IPagedList)Model;
}
@using PagedList.Mvc;
@using PagedList;

<div id="admin-add-button" class="form-group">
    @Html.ActionLink("Create New", "Create", "Shop", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>
<div class="row" id="admin-list-headers">
    <div class="col-xs-4">@Html.DisplayNameFor(model => model.Name)</div>
    <div class="col-xs-2">Редакция</div>
</div>

@foreach (var item in Model) {
    <div class="row" style="border-top: 2px solid slategray; background-color: #f9f9f9">
        <div style="margin-bottom: 45px; margin-top: 9px">

            <div class="col-xs-4">
                @Html.DisplayFor(modelItem => item.Name)
            </div>

            <div class="col-xs-2">
                @Html.Partial("_ItemActions", new ViewDataDictionary { { "ItemID", item.Id }, { "ItemType", "Shop" } })
            </div>
        </div>
    </div>
}
@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))
