@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="admin-templates">
    <div class="col-sm-4" id="admin-menu-outer-div">
        <div id="adminMenu">
            <div class="button-in-admin-menu">
                <img src="@Url.Content("~/Content/images/admin/shop.png")" />
                <span>Магазин</span>
            </div>
            <div class="admin-menu-inner-attributes">
                <div class="button-in-admin-menu">
                    @Html.ActionLink("Products", "Index", "Product", routeValues: null, htmlAttributes: new { title = "Products" })
                </div>
                <div class="button-in-admin-menu">
                    @Html.ActionLink("Categories", "Index", "Category", routeValues: null, htmlAttributes: new { title = "Categories" })
                </div>
                <div class="button-in-admin-menu">
                    @Html.ActionLink("Shop", "Index", "Shop", routeValues: null, htmlAttributes: new { title = "Shop" })
                </div>
                <div class="button-in-admin-menu">
                    @Html.ActionLink("Brands", "Index", "Brand", routeValues: null, htmlAttributes: new { title = "Brands" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        @RenderBody()
    </div>
</div>
@section Scripts {
    @RenderSection("scripts", required: false)
}
