@model IEnumerable<MakersMarket.Models.Domain.Product>

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";

    var pagedList = (IPagedList)Model;
}
@using PagedList.Mvc;
@using PagedList;

<div id="admin-add-button" class="form-group">
    @Html.ActionLink("Create New", "Create", "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>
<div class="row" id="admin-list-headers">
    <div class="col-xs-3">@Html.DisplayNameFor(model => model.First().Name)</div>
    <div class="col-xs-2">@Html.DisplayNameFor(model => model.First().Price)</div>

    <div class="col-xs-1">Редакция</div>
</div>
@foreach (var item in Model)
{
    @*<img src="@Url.Content(item.Images.First().ImagePath)" style="width:80px" />
    foreach (var img in item.Images)
    {
        <div>
            @img.ImagePath
        </div>
    }*@

    <div class="row" style="padding-bottom :9px;border-top: 2px solid slategray; background-color: #f9f9f9">
        <div style=" margin-top: 9px">
            <div class="col-xs-3">
                <p>@Html.DisplayFor(modelItem => item.Brand.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
            </div>
            <div class="col-xs-2">
                @Html.DisplayFor(modelItem => item.Price) лв.
            </div>

            <div class="col-xs-4">
                @Html.Partial("_ItemActions", new ViewDataDictionary { { "ItemID", item.ID }, { "ItemType", "Product" } })
            </div>
        </div>
    </div>
}
@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))
